*{
    background-color: yellow;
    
    box-sizing: border-box;
    
}

h1, h3{
    color: black;
    text-align: center;
}

hr{
    width: fit-content;
    border-top: 5px solid black;
}

h3, h5{
    font-style: italic;
}

h5{
    color: grey;
    text-align: center;
}

.column {
    float: left;
    width: 33%;
}

sup{
    color: blue;
}
